{{ block json_to_table() }}

{{ try }}
<table class="table table-app table-striped table-bordered detail-table mb-0">
{{range i, k := sort_map_keys(.) }}
    {{ v := .[k] }}
    <tr>
        <td width="15%" class="json-table-key">{{k}}</td>
        <td class="json-table-value">
            {{if ii.IsImage && k == "size"}}{{ pretty_size(v) }}
            {{else if ii.IsImageIndex && k == "digest"}}<a href="{{ basePath }}/{{ ii.ImageRefRepo }}@{{ v }}">{{ v }}</a>
            {{else}}{{ yield json_to_table() v }}{{end}}
        </td>
    </tr>
{{end}}
</table>

{{ catch err }}
{{if err.Error() == "reflect: call of reflect.Value.MapKeys on slice Value"}}
<table class="table table-app table-striped table-bordered detail-table mb-0">
    {{range _, e := . }}
    <tr>
        <td class="json-table-nested-cell">{{ yield json_to_table() e }}</td>
    </tr>
    {{end}}
</table>
{{else}}
    {{ . }}
{{end}}
{{end}} {* end try *}

{{ end }}
